<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwerteach.wivi.qwerteachapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailSignUpActivity"
            android:label="@string/title_activity_email_sign_up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".ProfilActivity"
            android:label="@string/title_profile_activity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_edit_profile_activity"
            android:parentActivityName=".ProfilActivity" />
        <activity
            android:name=".CreateSmallAdActivity"
            android:label="@string/create_small_add_activity_title" />
        <activity android:name=".ToBecomeATeacherActivity"
            android:parentActivityName=".DashboardActivity"
            android:label="@string/to_become_a_teacher_activity_title"/>
    </application>

</manifest>